<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADy9rnBFV6cGB5F94felx5NCy1xtP9meQ</string>
	<key>GCM_SENDER_ID</key>
	<string>837101376343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dynasty.DragonSlotDynasty</string>
	<key>PROJECT_ID</key>
	<string>dragonslotdynasty</string>
	<key>STORAGE_BUCKET</key>
	<string>dragonslotdynasty.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837101376343:ios:cac3c394ed2621f9c8e412</string>
</dict>
</plist>